*{
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;

}

html,body{
	height:100%;
}



:root{
	--cor-cabecalho:#dbd52a;

	--cor-titulo:#bdbd6c;

	--cor-conteudo:#eee;

	--cor-form:#E0E0DE;
}

.clear{
	clear:both;
}

header{
	width: 100%;
	height: 150px;

	background: var(--cor-cabecalho);

	display: flex;
	align-items: center;

	justify-content: space-between;
	font-family: 'Poppins', sans-serif;
}

.nome{
	color: rgba(0,0,0, 0.8);

	
	font-size: 40px;
	height: 100px;

	padding: 18px 40px;

	display: inline-block;

	/*width: 7%;*/

}

/*Formatação Menu*/

nav{
	display: inline-block;

	padding: 0 60px;

	/*width: 7%;*/
}

nav a{
	text-decoration: none;
	color: gray;
	font-weight: bold;

	padding: 10px;

	transition: ease-in 0.5s; 

	font-size: 1.4em;
}

nav a:hover{
	text-decoration: underline;

	background: #e3df64;



	border-radius: 15px;


}

ul{
	list-style:none; 
}

ul li{
	display: inline;
}

/*Formatação Frase*/

.h2{
	width: 100%;
	height: 330px;
	background: var(--cor-cabecalho);
}

.h2 h2{
	padding:40px 0 70px 0 ;

	text-align: center;

	font-size: 40px;

	color:rgba(0,0,0,0.81);
}

/*Formatação section*/

.sec{
	background: var(--cor-conteudo);

	height: 524px;
	width: 100%;

	display: flex;
	align-items: center;
}

.sec > .sobre > .imagem img{
	border-radius: 50%;

	margin-left:150px; 
	
}


 .sobre > .texto-h3>  h3{
font-size: 1.5em;

width: 100%;
max-width: 700px;

padding: 0 2%;

margin-top: 40px;

text-align: justify;
}

/*Formatação classe Sobre*/

.sobre{
	width: 100%;
	height: auto;

	margin: 0, auto;


	display: flex;

	align-items: center;
	justify-content: center;

}

/*Formação formulário (pag contato)*/

.contato{ 
	margin: 3% 0 0 0;
}


.espacamento{
	
	padding-top: 20px; 
}

.contato h2{
	/*padding-bottom: 35px;*/
	text-align: center;

	font-size: 2.5em;

	position: relative;
	top:-30px; 
}

.contato form{
	text-align: center;


}

.container-form{
	width: 600px;
	height: 580px;

	margin: 0 auto;

	background-color: var(--cor-form);

	border-radius: 10%;

	margin-bottom: 43px;
}

.info{
	display: inline-block;

	text-align: left;

	margin-left: 25px;
	margin-bottom: 30px;
}

.info input[type=text]{
	height: 45px;
	width:350px;

	padding: 10px;

	font-size: 16px;

	transition: 0.5s;
}

.info input[type=text]:focus{
	background-color:#E3E3E3;
}

.info label{
	font-size: 1.6em;
	display: block;



}

.text{
	padding-top: 30px;
	
	text-align:center;

	font-size: 1.6em;
}

textarea{
	padding: 10px;

	width: 400px;
	height: 80px;
}

input[type=submit]{
	margin-top:15px;
	font-size: 20px;
}

.terminou{
	
	background: var(--cor-cabecalho);

	height: 78px;
	width: 100%;

	
}

.terminou > .copy{
	
	text-align: center;
}




/*Formatação Footer*/

footer{
	
	background: var(--cor-cabecalho);

	height: 78px;
	width: 100%;	

}

footer .copy{
	
	text-align: center;
}
 
.email{
	display: flex;
	align-items: center;
	justify-content: center;
}

.email p{
	padding-left: 8px;
	padding-top: 3px;
}

/*@media screen and (max-width: 700px){
	.nome{
		font-size:1.6em;

	}

	.nav li{
		font-size: 0.8em;
	}
}*/

@media screen and (max-width:815px ){
	
	header{
		display: block;

		text-align: center;
	}

	.nome{
		display: block;
		text-align: center;

		font-size: 3em;
	}

	nav{
		display: block;
	}

	.h2 h2{
		font-size:34px;
	}

	 .sobre {
			
			display: inline-block;

			text-align: center;
	 	
	}

	.sobre > .texto-h3 > h3{
		font-size: 1.3em;

		padding: 0 20px;

		
	}

	.texto-h3{
		text-align: center;
		display: inline-block;	

		
	}

	.sec > .sobre > .imagem img{
		margin-left:20px;
		
	}

	.contato h2{
		top: -10px;
	}

	.container-form{
		width: 480px;

		margin-top: 50px; 
		margin-bottom: 70px;
	}




}

